{% extends "vehiculo/base.html" %}
{% block title %}
Galería imágenes
{% endblock title %}
{% block content %}
<main>
    <div class="w-100 text-center">
        {% if messages %}
        {% for message in messages %}
        <!--message.tags return the type of message success error warnings, etc-->
        {% if 'éxito' in message.extra_tags %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% endif %}
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if entry %}
            <div class="mx-3 text-center">
                <h4>
                    <!--we do no use () on functions calls-->
                    {% for key, value in entry.items %}
                    {{ key }}:
                    {{ value }}
                    {% endfor %}
                </h4>
            </div>
            {% endif %}
        </div>
        {% if gallery %}
        <h1 class="text-center">
            Galería de imágenes
        </h1>
        <dialog id="image-target-dialog">
            <button class="cerrar" onclick="document.getElementById('image-target-dialog').close();">X</button>
            
            <button class="next-img next-img-left" onclick="next_img(this.id)" id="arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </button>
            <button class="next-img next-img-right" onclick="next_img(this.id)" id="arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>
            <div class="h-100 w-100 overflow-auto d-flex justify-content-center">
                <img id="target-img" class="border border-secondary border-4">
            </div>
        </dialog>
        <div class="d-flex flex-row justify-content-evenly flex-wrap">
            {% for entry in gallery %}
            <div class="gallery">
                <img src="{{ entry.imágenes.url }}" alt="{{ entry.imágenes.name }}" id="imagen-{{ forloop.counter }}" width="600" height="400" onclick="expand(this.id)" class="rounded pointer-obj">
                <div class="text-center">
                    <div class="desc">{{ entry.descripción }}</div>
                    {% if perms.vehiculo.delete_vehículogalería %}
                    <form method="POST" action="{% url 'vehiculo:rm-img' pk=entry.id %}">
                        {% csrf_token %}
                        <input class="btn btn-secondary btn-lg mb-1" type="submit" value="Borrar">
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center">
            <h3>No hay imágenes disponibles</h3>
        </div>
        {% endif %}
        {% if perms.vehiculo.add_vehículogalería %}
        <form method="POST" enctype="multipart/form-data" action="" class="d-flex flex-column my-2 align-items-center">
            {% csrf_token %}
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-danger text-center" role="alert">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help my-1" id="{{ field.auto_id }}_helptext">
                {{ field.help_text}}
            </p>
            {% endif %}
            {% endfor %}
            <input type="submit" value="Subir archivo" class="btn btn-secondary btn-lg my-1">
        </form>
</main>
{% endif %}
{% endblock content %}