{% extends "vehiculo/base.html" %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
    <main class="text-center">
        <div class="w-100 text-center">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <h1>Catálogo de Vehículos</h1>
        <img class="img-fluid rounded" src="https://c.ndtvimg.com/2022-02/cmqjlero_car_625x300_03_February_22.jpg">
    </main>
{% endblock content %}