:root {
    --close-color: #ec3f3f;
    --button-default : #6c757d;
    --button-text: #ffffff;
}

dialog {
    border-color: black;
    border-width: 3px;
}

.pointer-obj {
    cursor: pointer;
}

#image-target-dialog{
    position: fixed;
    top: 5%;
    height: clamp(60vh, 70vh, 80vh)
}

#target-img {
    width: clamp(50vw, 60vw, 70vw);
  }

#change_target {
    top: 15%;
}

#edit_vehicle {
    width: clamp(30vw, 40vw, 60vw);
}

#delete_vehicle {
    width: clamp(15vw, 20vw, 25vw);
}

.limit {
    width: clamp(8vw, 12vw, 15vw);
    margin: auto;
}

.cerrar {
    background-color:  var(--button-default);
    border: 3px, solid, black;
    color: var(--button-text);
    border-radius: 50%;
    min-width: 30px;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
}

.cerrar:hover {
    background-color: var(--close-color);
}

.next-img {
    width: 3rem;
    height: 3rem;
    border: 3px, solid, black;
    border-radius: 50%;
    background-color: --button-default;
    color: black;
    position: absolute;
    top: 45%;
}

.next-img-left {
    left: -10%;
}

.next-img-right {
    right: -10%;   
}

.gallery {
    margin: 5px;
    float: left;
    width: 250px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
}

